<div class="card-body">
	<div class="tab-content">
		<div class="tab-pane show active" id="basic">
			<h5 class="info-text">Set the GPS basic information</h5>
			<div class="row justify-content-center">
				<div class="col-sm-3">
                    <img src="../assets/img/gps.png" class="img-fluid rounded float-left rounded mx-auto d-block" id="wizardPicturePreview" title="" />
                </div>
				<div class="col-sm-6">
					<div class="form-group">					
						<label>GPS Name</label>
						<input type="text" class="form-control" ng-model="InstallGpsController.gps.name" name="gpsNameInput">
					</div>
					<div class="form-group">     
						<label>GPS Description</label>                    
                        <input type="text" ng-model="InstallGpsController.gps.description" class="form-control" name="gpsDescriptionInput" />
                    </div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="interface">
			<h5 class="info-text">&#191;What kind of interface does the gps use?</h5>
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="row">
						<div class="col-sm"
							ng-repeat="supportedInterface in InstallGpsController.supportedInterfaces">
							<div class="choice" data-toggle="wizard-radio" ng-class="{active : supportedInterface === InstallGpsController.gps.getInterfaceType()}" 
							ng-click="InstallGpsController.setGpsInterfaceType(supportedInterface)">
								<input type="radio"   name="selectedInterface" ng-value="supportedInterface">
								<div class="icon">
									<i class="nc-icon nc-{{supportedInterface | lowercase}}"></i>
								</div>
								<h6>{{supportedInterface}}</h6>
							</div>
						</div>
						<div ng-if="!InstallGpsController.supportedInterfaces.length" class="col-sm" style="text-align: center;">
							<h3 class="description">No available interfaces</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="configuration">
			<div class="row justify-content-center" ng-if="InstallGpsController.gps.interfaceTypeIsMQTT()">
				<div class="col-sm-12">
					<h5 class="info-text">Interface configuration</h5>
				</div>
				<div class="row col-sm-12 justify-content-center">
					<div class="col-sm-6">
						<div class="form-group">
							<label>Topic</label> <input type="text"
								class="form-control"  ng-value="InstallGpsController.gps.name" disabled>
						</div>
					</div>
				</div>
				<div class="row col-sm-12 justify-content-left">
					<div class="col-sm-6">
                        <p align="right" ><small>Watchdog interval is used to get a notification via telegram if the gps fails to communicate within defined interval period </small></p>
                      	<hr>               		
	                </div>
					<div class="col-sm-6">
	                    <div class="form-group">
	                    	<label>Watchdog</label>
	                        <select class="selectpicker dropdown" data-style="btn btn-info btn-round" name="watchdogIntervalSelect" 
	                        ng-model="InstallGpsController.gps.watchdogInterval"
	                        data-dropup-auto="false" data-max-options="1" 
							title="Select" data-header="Wacthdog interval" data-size="12">
								<option
									ng-repeat="watchdogIntervalOption in InstallGpsController.supportedWatchdogIntervals"
									ng-value="watchdogIntervalOption">{{watchdogIntervalOption}}</option>
								<option style="display:none" value=""></option>
	                        </select>
	                    </div>
	                </div>
	                
				</div>
			</div>
		</div>
	</div>
</div>
