<div class="row">
	<div class="col-lg-8 col-md-8 col-sm-8 offset-md-2" >
		<div class="card card-user">
			<div class="image text-center">
                
              </div>
			<div class="card-body ">
				<div class="author">
                  <a href="" style="text-decoration: none; cursor: default; pointer-events: none">
                    <img style="cursor: pointer; pointer-events: auto" class="avatar border-gray" ng-src="/app/assets/img/power-off.png" alt="..." ng-click="PowerOffSystemController.powerOff()">
                    <h5  class="title" >Power off IOT Assistant</h5>
                  </a>
                  <p class="description">
                    Power off the system safety
                  </p>
                </div>
                <p class="description text-center">
                  "Shutting down by unplugging the wire may corrupt the SD card if card is used" <br>
                  "Use the button above to power off the system in a safety manner"
                </p>                
              </div>
			</div>
		</div>
	</div>
</div>