<div class="card">
   <div class="card-header">
     <h4 class="card-title">Enable Rule Rules</h4>
     <h5 class="card-category" ng-if="!GetSensorRulesController.enableRuleSensorRules.length">0 sensor enable rules installed</h5>
   </div>
   <div class="card-body">
     <div class="table-responsive" ng-if="GetSensorRulesController.enableRuleSensorRules.length">
       <table class="table" >
         <thead class="text-primary">
           <th class="text-center">
             #
           </th>
           <th>
             Sensor name
           </th>
           <th>
             Property
           </th>
           <th>
             Minimum time between triggers
           </th>
           <th class="text-center">
             Threshold operator
           </th>
           <th class="text-center">
             Threshold
           </th>
           <th class="text-center">
             Action
           </th>
           <th class="text-center">
             Sensor Rule ID
           </th>
           <th class="text-right">
             Enabled
           </th>                     
           <th class="text-right">
             Actions
           </th>                      
         </thead>
         <tbody>
           <tr ng-repeat= "enableSensorRule in GetSensorRulesController.enableRuleSensorRules track by enableSensorRule.getId()" >
             <td class="text-center">
               {{enableSensorRule.getId()}}
             </td>
             <td>
               {{enableSensorRule.getSensorName()}}
             </td>
             <td>
               {{enableSensorRule.getSensorPropertyName()}}
             </td>
             <td>
               {{enableSensorRule.getTimeBetweenTriggers()}}
             </td>
             <td class="text-center">
               {{enableSensorRule.getSensorAnalogThresholdOperator()}}
             </td>
             <td class="text-center">
                {{enableSensorRule.getSensorValueThresholdString()}}
             </td>
             <td ng-if="enableSensorRule.isEnableAction()" class="text-center">
                Enable
             </td>
             <td ng-if="!enableSensorRule.isEnableAction()" class="text-center">
                Disable
             </td>
             <td class="text-center">
                {{enableSensorRule.getSensorRuleId()}}   
             </td>
             <td class="text-right">
             	<span ng-switch="enableSensorRule.isEnabled()">
             		<button ng-switch-when="false" type="button" rel="tooltip" disabled class="btn btn-danger btn-icon btn-sm" >
                 		<i class="fa fa-power-off"></i>
               		</button>
               		<button ng-switch-when="true" type="button" rel="tooltip" disabled class="btn btn-success btn-icon btn-sm" >
                 		<i class="fa fa-power-off"></i>
               		</button>
             	</span>                   
             </td>
             <td class="text-right" ng-switch="enableSensorRule.isEnabled()">
               <button ng-switch-when="false"  type="button" rel="tooltip" class="btn btn-outline-danger btn-icon btn-sm" ng-click="GetSensorRulesController.enableSensorRule(true, enableSensorRule.getId())">
                 <i class="fa fa-toggle-off"></i>
               </button>
               <button ng-switch-when="true"  type="button" rel="tooltip" class="btn btn-outline-success btn-icon btn-sm" ng-click="GetSensorRulesController.enableSensorRule(false, enableSensorRule.getId())">
                 <i class="fa fa-toggle-on"></i>
               </button>
               <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm" ng-click="GetSensorRulesController.deleteSensorRule(enableSensorRule.getId())">
                 <i class="fa fa-times"></i>
               </button>                          
             </td>
           </tr>                
         </tbody>
       </table>
     </div>
   </div>
</div>