<div class="row">
	<div class="col-lg-3 col-md-6 col-sm-6" ng-repeat="serverStatus in GetSystemInfoController.system.getServersStatus()">
		<div class="card card-stats">
			<div class="card-header ">
				<h5 class="card-title">Interface {{serverStatus.getInterfaceName()}}</h5>
			</div>
			<div class="card-footer ">
				<div class="legend" ng-if="serverStatus.isConnected()">
					<i class="fa fa-circle text-success"></i> Connected
				</div>
				<div class="legend" ng-if="!serverStatus.isConnected()">
					<i class="fa fa-circle text-danger"></i> Not connected
				</div>
				<hr>
				<div class="stats" ng-if="serverStatus.isConnected()">
					<i class="fa fa-info-circle"></i> {{serverStatus.getDetails()}}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-3 col-md-6 col-sm-6">
		<div class="card card-stats">
			<div class="card-header ">
				<h5 class="card-title">Platform</h5>
			</div>
			<div class="card-footer ">
				<div class="legend">
					<i class="fa fa-circle text-gray"></i> Name: {{GetSystemInfoController.system.getPlatformName()}}
				</div>
				<hr>
			</div>
		</div>
	</div>
</div>
